<nav class="nav">
    <div class="burger no_activo" id="burger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <ul class="nav__list" id="menu">
        <li class="nav__item active" data-menuanchor="perfil">
            <i class="nav__icon fa-solid fa-house"></i> <a href="#perfil">Inicio</a>
        </li>
        <li class="nav__item active" data-menuanchor="acerca">
            <i class="nav__icon fa-solid fa-message"></i> <a href="#acerca">Acerca de mí</a>
        </li>
        <li class="nav__item active" data-menuanchor="estudios">
            <i class="nav__icon fa-solid fa-book"></i> <a href="#estudios">Estudios</a>
        </li>
        <li class="nav__item active" data-menuanchor="habilidades">
            <i class="nav__icon fa-solid fa-gear"></i> <a href="#habilidades">Habilidades</a>
        </li>
        <li class="nav__item active" data-menuanchor="proyectos">
            <i class="nav__icon fa-solid fa-briefcase"></i> <a href="#proyectos">Proyectos</a>
        </li>
        <li class="nav__item active" data-menuanchor="contacto">
            <i class="fa-solid fa-user-group"></i> <a href="#contacto">Contactó</a>
        </li>
    </ul>
</nav>