@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* fuente general del proyecto */
*{
    font-family: 'Karla', sans-serif;
}
body{
    background-color: #1c1c1c;
    color: white;
    font-size: 1.7rem;
}
/* estilo barra de navegacion */
/* clases de la libre fullpage */
#fp-nav ul li a span, .fp-slidesNav ul li a span{
    background: rgb(51, 255, 0);
}
/* barra de navegacion */
.nav__list{
    position: fixed;
    z-index: 70;
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(134, 134, 134,0.2);
    height: 50px;
}
.nav__item{
    cursor: pointer;
    line-height: 2rem;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    color:rgb(51, 255, 0);
    text-align: center;
    border-left: 1px solid white;
    height: 100%;
    transition: opacity 500ms;
    transition: background-color 500ms;
    transition: box-shadow 500ms;
}
.nav__item > a{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 0px 0px 0px 10px;
    text-decoration: none;
    color: rgb(51, 255, 0);
}
.nav__icon{
    font-size:1.5rem;
}
.nav__item:hover{
    opacity: 0.7;
    background-color:rgb(0, 0, 0);
}
.nav__item:hover > a{
    text-decoration:underline ;
}
.nav li.active{
    box-shadow: none;
    background-color: rgb(27,27,27);
    opacity: 1;
    color: rgb(255, 191, 0);
}
.nav li.active > a{
    font-weight: 500;
    text-decoration: none;
    color: rgb(255, 191, 0);
}
.nav li.active > a,.nav__icon{
    font-size: 500;
}
/* estilo articulos del portfolio */
.fp-overflow{
    height: 100%;
}
.article{
    overflow: hidden;
    height: 100%;
    padding: 0px 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
/*perfil inicio*/
.profile{
    padding: 0px 30px;
    flex-direction: row;
}
.profile__avatar{
    position: relative;
    z-index: 1;
    width: 50%;
}
.profile__container{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    text-align: center;
}
.profile__title{
    position: relative;
    top: 0;
    width: 100%;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-shadow: 
        3px 3px 0px rgb(247,37,133), 
        4px 4px 0px rgba(255, 255, 255, 0.163);
    animation: moveText 1800ms ease-in 5 alternate;
}
.profile__description{
    width: 100%;
    font-size: 4rem;
    font-weight: 300;
}
.auto__type{
    color: rgb(247,37,133);
}
@keyframes moveText{
    0%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}
/* estilo subtitulos */
.subtitle{
    position: absolute;
    top: 100px;
    text-align: center;
    font-size: 5rem;
    text-shadow:
        3px 3px 3px rgba(172, 172, 172, 0.673),
        3px 2px 2px rgba(128, 128, 128, 0.221),
        3px 1px 3px rgba(11, 255, 3, 0.386);
}
.article__container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
/* acerca */
.intereses{
    align-items: flex-start;
}
.article__description{
    padding-top: 140px;
    text-align: center;
}
.intereses >h2{
    top: 45px;
}
.avion{
    position: absolute;
    background-color: transparent;
    height: 120px;
    width: 120px;
    filter: invert(100%);
    top: 80%;
    left: 10%;
    animation: movePlane 10s cubic-bezier(.70,-0.50,.80,0.5) infinite /* direction fill-mode */;
}
@keyframes movePlane {
    50%{
        top: 50%;
        transform: translateX(70vw);
        transform: translateX();
    }
    50%{
        top:85%;
    }
    100%{
    }
}
/* estilo estudios */

.studies__list{
    list-style-type: square;
    color: rgb(247,37,133);
}
.content {
    font-weight: 300;
    color: rgb(255, 255, 255);
}
.content >span{
    font-weight: 700;
}

/* Habilidades*/

.skills__list{
    margin-top: 150px;
}
.skill{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.skill > img{
    width:50px;
    margin-right: 10px;
}
.skill:nth-child(3) > img{
    position: relative;
    top:-5px;
    left: -5px;
    width:70px;
    margin-right: 10px;
}

/* estilo proyectos */

.containerProyecto{
    overflow-x: hidden;
    width: 100%;
    min-height: 60%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    gap: 45px;
}
.carrusel__container{
    color: white;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 40px;
    left: 880px;
    transition: transform 0.5s ease-out, box-shadow 0.2s ease;
}
.card{
    opacity: 0.7;
    overflow: hidden;;
    cursor: pointer;
    height: 500px;
    width: 450px;
    height: 450px;
    border-radius: 20px;
    border-radius: 29px;
    display: flex;
    background-color: rgb(28, 28, 28);
    box-shadow:  
        -6px 6px 12px rgb(16, 16, 16),
        6px -6px 12px rgb(40, 40, 40);
    transform: scale(0.90);
    transition: transform 0.5s ease, box-shadow 0.2s ease;
}
.card .card__content{
    flex: 0 1 100%;
}
.card .card__tool{
    position: relative;
    z-index: 100;
    background-color: black;
    flex: 0 0 auto;
    width: 64px;
    transition: width 300ms;
}
.scale_card{
    transform: scale(1.15);
    opacity: 1;
}
.card:hover{
    background: rgb(29, 29, 29);
    box-shadow:  
        -2px 2px 12px rgb(16, 16, 16),
        2px -2px 12px rgb(40, 40, 40);
}
.button__proyect{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    align-self: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(24, 24, 24);
    color: rgb(120,40,14);
    border: none;
    outline: none;
    font-size: 2rem;
    font-weight: bold;
    animation: moveButton 500ms ease-in 500ms infinite alternate;
}
#prev{
    left: 5%;
}
#next{
    right: 5%;
}
@keyframes moveButton {
    0%{

    }
    100%{
        transform: scale(1.3);
    }
}
.button__proyect:hover{
    transform: scale(1.5);
    animation: none;
}
/*estilo card proyectos*/
.card__tool{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 10px;
}
.card__link{
    color: white;
    margin-bottom: 20px;
}
.card__link:hover{
    color: rgb(1,68,214);
    opacity: 0.8;
}
.card__project{
    position: relative;
}
.card__img{
    background-color: #101010;
    opacity: 1;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 100ms ease-in, transform 500ms ease-in;
}
.card__content{
    background-color: #1010103a;
    border-radius: 50%;
    padding: 30px;
    width:360px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-150%);
    text-align: center;
    font-size: 1.4rem;
}
.card__title{
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: rgb(6, 231, 10)
}
.card__description{
    color: rgb(255, 255, 255);
    font-style: italic;
    text-align: center;
    text-shadow: 3px 2px 50px rgba(0, 0, 0, 0.577),
    1px 1px 50px rgba(0, 0, 0, 0.748),
    2px 2px 40px rgba(0, 0, 0, 0.838),
    1px 1px 230px rgba(0, 0, 0, 0.614);
}
.card.scale_card:hover .card__img{
    transform: scale(1.5);
    opacity: 0.2;
    object-fit: cover;
}
.card.scale_card:hover .card__content{
    animation: text-translate 500ms cubic-bezier(.88,1.7,.64,.81) forwards;
}
@keyframes text-translate{
    100%{
        transform:translate(-50%,-50%)
    }
    
}
/*estilo formulario de contacto*/
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}
.form__group{
    position: relative;
    font-size: 1.6rem;
    min-width: 40%;
    margin-bottom: 40px;
}
.text__area{
    min-height: 150px;
    resize: none;
}
.form__input{
    color: rgb(255, 255, 255);
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255);
    outline: none;
}
.form__label{
    font-size: 1.7rem;
    font-weight: 300;
    position: absolute;
    top: 5px;
    left: 10px;
    transition: transform .25s;
}
.form__input:is(:hover,:focus){
    border-bottom:2px solid rgb(55, 255, 0);
    background:linear-gradient(to top,transparent,rgba(39, 39, 39, 0.786));
    outline: none;
}
.form__input:hover +.form__label{
    color: rgb(55, 255, 0);
}
.form__input:focus +.form__label{
    color: rgb(55, 255, 0);
    transform: translate(-15px,-32px) scale(.8);
}
.button{
    cursor: pointer;
    color: rgb(55, 255, 0);
    border-color:rgb(55, 255, 0);
    background-color: rgb(10, 10, 10);
    font-size: 1.8rem;
    font-weight: 600;
    max-width: 190px;
    min-height: 60px;
    border-radius: 9px;
    background: #1c1c1c;
    box-shadow:  
        6px 6px 12px #101010,
        -6px -6px 12px #282828;
    
}
.button:hover{
    background: #1c1c1c;
    box-shadow:  
        1px 1px 4px #101010,
        -1px -1px 4px #282828;
    opacity: 0.7;
    transform: translate(-1px,-1px);
}
.oculto{
    color:rgb(51, 255, 0);
    transform: translate(-15px,-32px) scale(.8);
}
.fp-watermark{
    display: none;
}